<div class="card panel-primary-v3">
  <div class="card-header small-padding">
    <a class="text-white" href="/"><h3>RegEx Tester</h3></a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <h6>Pattern</h6>
          <div>
            <textarea #inputPattern [(ngModel)]="pattern" (ngModelChange)="onModelChanged()"
              rows="3" autocorrect="off" autocapitalize="none" spellcheck="false"
              class="form-control input-text pattern">
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <h6>Text</h6>
          <div mwlTextInputHighlightContainer>
            <div class="loading center center-text-textarea" [class.hidden]="!busy"></div>
            <textarea #inputText mwlTextInputElement [(ngModel)]="text" (ngModelChange)="onModelChanged()"
              rows="5" autocorrect="off" autocapitalize="none" spellcheck="false"
              class="form-control input-text text" [class.busy]="busy">
            </textarea>
            <mwl-text-input-highlight
              [tags]="highlight"
              [textInputElement]="inputText">
            </mwl-text-input-highlight>
          </div>
        </div>
      </div>
      <div class="col-md-3 options">
        <h6>Options</h6>
          <div class="form-check" *ngFor="let option of options">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="{{option.value}}"
              [(ngModel)]="option.checked" (ngModelChange)="onModelChanged()"> {{ option.name }}
            </label>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card nav-card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabMatches" role="tab" aria-controls="home"
                   aria-expanded="true"><h6>Matches</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabReplace" role="tab" aria-controls="replace"
                   aria-expanded="true"><h6>Replace</h6></a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabMatches" role="tabpanel">
                Matches
              </div>
              <div class="tab-pane fade" id="tabReplace" role="tabpanel">
                Replace
              </div>
            </div>
          </div>
          <div class="card-footer small-size blur">
            <a href="https://leevox.com" target="_blank">LeeVox</a><span> &copy; 2017</span>
            <a target="_blank" href="https://github.com/RegExTester/regex-tester" title="Source Code">
              <img width="32px" height="32px" src="assets/img/github.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
