<div class="card panel-primary-v3">
  <div class="card-header small-padding">
    <a class="text-white" href="/"><h3>RegEx Tester</h3></a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <h6>Pattern</h6>
          <div>
            <textarea #inputPattern [(ngModel)]="pattern" (ngModelChange)="delaySubmit()"
              rows="3" autocorrect="off" autocapitalize="none" spellcheck="false"
              class="form-control input-text pattern" placeholder="\w+">
            </textarea>
            <span class="error-message" [class.hidden]="!(result.error || '')">{{ (result.error || '') }}</span>
          </div>
        </div>
        <div class="form-group">
          <h6>Text</h6>
          <div mwlTextInputHighlightContainer>
            <div class="loading center center-text-textarea" [class.hidden]="!busy"></div>
            <textarea #inputText mwlTextInputElement [(ngModel)]="text" (ngModelChange)="delaySubmit()"
              rows="5" autocorrect="off" autocapitalize="none" spellcheck="false"
              class="form-control input-text text" [class.readonly]="busy" placeholder="Input some text here">
            </textarea>
            <mwl-text-input-highlight
              [tags]="highlight"
              [textInputElement]="inputText">
            </mwl-text-input-highlight>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-md-block d-none">
        <!-- copy to #optionsPanel at the end of page (for mobile view) -->
        <h6>Options</h6>
        <div class="form-check" *ngFor="let option of options">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="{{option.value}}"
            [(ngModel)]="option.checked" (ngModelChange)="delaySubmit(500)"> {{ option.name }}
          </label>
        </div>
        <!-- end copy to #optionsPanel at the end of page (for mobile view) -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card nav-card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabMatches" role="tab" aria-controls="home"
                   aria-expanded="true"><h6>Matches</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabReplace" role="tab" aria-controls="replace"
                   aria-expanded="true"><h6>Replace</h6></a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabMatches" role="tabpanel">
                <table class="table table-bordered table-sm th-center align-middle" *ngIf="resultTable.length || 0">
                  <thead>
                    <tr>
                      <th colspan="3">Matches</th>
                      <th colspan="4">Groups</th>
                    </tr>
                    <tr>
                      <!-- match -->
                      <!--<th>Name</th>-->
                      <th>Value</th>
                      <th>Index</th>
                      <th>Length</th>
                      <!-- group -->
                      <th>Name</th>
                      <th>Index</th>
                      <th>Length</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of resultTable">
                      <!-- match -->
                      <!--<td [attr.rowspan]="item?.match?.rowspan" *ngIf="item.match">{{ item.match.name }}</td>-->
                      <td [attr.rowspan]="item?.match?.rowspan" *ngIf="item.match"><span class="text-highlight-tag p-1" [ngClass]="[item.match.class]">{{ item.match.value }}</span></td>
                      <td [attr.rowspan]="item?.match?.rowspan" *ngIf="item.match" class="number">{{ item.match.index }}</td>
                      <td [attr.rowspan]="item?.match?.rowspan" *ngIf="item.match" class="number">{{ item.match.length }}</td>

                      <!-- group -->
                      <td>{{ item?.group?.name }}</td>
                      <td class="number">{{ item?.group?.index }}</td>
                      <td class="number">{{ item?.group?.length }}</td>
                      <td>{{ item?.group?.value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div #tabReplace class="tab-pane fade" id="tabReplace" role="tabpanel">
                <div class="form-group">
                  <label for="inputReplace">Replace To</label>
                  <input #inputReplace id="inputReplace" [(ngModel)]="replace" (ngModelChange)="delaySubmit()"
                     type="text" class="form-control input-text" autocorrect="off" autocapitalize="none" spellcheck="false" />
                </div>
                <div class="form-group">
                  <label for="inputReplace">Result</label>
                  <textarea #replaceResult [ngModel]="result.replace || ''" readonly="readonly"
                    rows="5" autocorrect="off" autocapitalize="none" spellcheck="false" class="form-control input-text readonly">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent"></div>
        </div>
      </div>
    </div>
    <div class="row d-block d-md-none">
      <div class="col">
        <!-- copy from #optionsPanel (for mobile view) -->
        <h6>Options</h6>
          <div class="form-check" *ngFor="let option of options">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="{{option.value}}"
              [(ngModel)]="option.checked" (ngModelChange)="delaySubmit(500)"> {{ option.name }}
            </label>
          </div>
        <!-- end copy from #optionsPanel (for mobile view) -->
      </div>
    </div>
  </div>
  <div class="card-footer page-footer">
    <a href="https://leevox.com" target="_blank">LeeVox</a><span> &copy; 2017</span>
    <a target="_blank" href="https://github.com/RegExTester/regex-tester" title="Source Code">
      <img width="32px" height="32px" src="assets/img/github.png"/></a>
  </div>
</div>
